html {
	font-family: 'TitilliumWebLight';
}
body {
	margin: 0;
	font-family: 'TitilliumWebLight';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.back,
.search {
	width: 22px;
	height: 22px;
	position: absolute;
	cursor: pointer;
}

.back {
	top: 45px;
	left: 10px;
}

.search {
	top: 45px;
	right: 10px;
}

.navbar {
	width: 100%;
	min-height: 6vh;
	padding-bottom: 40px;

	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all .4s ease-in;
}
.scrolled {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 999;
	background: #000;
}
